[submodule "subprojects/glfw"]
	path = subprojects/glfw
	url = https://github.com/glfw/glfw.git
	branch = latest
[submodule "subprojects/glbinding"]
	path = subprojects/glbinding
	url = https://github.com/cginternals/glbinding.git
	branch = v3
